venv/

*.aux
*.log
*.out
*.bcf
*.fdb_latexmk
*.fls
*.run.xml
*.pdf
*.bbl
*.blg
*.nav
*.snm
*.toc
*.synctex.gz
presentation.bbl-SAVE-ERROR

dg_bis.py
dg_ter.py
dg_quad.py
dg.py
test.ipynb


__pycache__/
