venv/

*.aux
*.log
*.out
*.bcf
*.fdb_latexmk
*.fls
*.run.xml
*.pdf
*.bbl
*.blg
*.nav
*.snm
*.toc
*.synctex.gz
*.maf
*.mtc*
presentation.bbl-SAVE-ERROR

dg_bis.py
dg.py
test.ipynb

useless/
__pycache__/

prompt.md