name: automated-calibration-for-musical-instruments CI

on: [push, pull_request]

jobs:
  build:

    runs-on: self-feelpp

    steps:
            - name: Checkout
              uses: actions/checkout@v5

            - name: Install the latest version of uv
              uses: astral-sh/setup-uv@v6
              with:
                version: "latest"
            
            - name: setup Python Venv and install dependencies
              run: |
                python3 -m venv myenv
                source myenv/bin/activate
                pip install -r requirements.txt

            - name: Discontinuous Galerkin tests
              run: |
                source myenv/bin/activate
                python3 dg.py

            - name: Generate Report pdf
              run: |
                cd Report&Presentation
                pdflatex report.tex
                biber report
                pdflatex report.tex
                pdflatex report.tex

            - name: Generate Presentation pdf
              run: |
                cd Report&Presentation
                pdflatex presentation.tex
                biber presentation
                pdflatex presentation.tex
                pdflatex presentation.tex